doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="apple-touch-icon", sizes="76x76", href="../assets/img/apple-icon.png")
    link(rel="icon", type="image/png", href="../assets/img/favicon.png")
    title Material Dashboard by Creative Tim

    //- CSS Files
    link(rel="stylesheet", href="css/style.css")

  body.g-sidenav-show.bg-gray-100.dark-version
    h1.label Hello, World!

    .card.card-frame(data-animation="true")
      .card-body
        span This is some text within a card body.
        button.btn.btn-primary(type="button") Button
        button.btn.btn-icon.btn-3.btn-primary(type="button")
          span.btn-inner--icon: i.material-icons play_arrow
          span.btn-inner--text With icon
        button.btn.btn-icon.btn-2.btn-primary(type="button")
          span.btn-inner--icon: i.material-icons lightbulb

    //- Compiled TypeScript
    script(src="js/main.js")

