.sidenav.navbar.navbar-vertical.navbar-expand-xs.border-0.border-radius-xl.my-3.fixed-start.ms-3.bg-gradient-dark
      .collapse.navbar-collapse.w-auto.ps
        ul.navbar-nav
          li.nav-item
            a.nav-link.text-white.bg-gradient-primary.active(href="#") Active
          li.nav-item
            a.nav-link.text-white(href="#") Link
          li.nav-item
            a.nav-link.text-white(href="#") Link
          li.nav-item
            a.nav-link.text-white.disabled(aria-disabled="true") Disabled
